:local {
  .appWrapper {
    display: flex;
    flex-direction: column;
    max-width: 100vw;

    .intro {
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .title {
        font-size: 3em;
        text-align: left;
        word-break: unset;
        font-weight: 200;
        color: #6c567b;

        .titleHighlight {
          color: #c06c84;
        }
  
        span {
          font-weight: 300;
        }
      }
    }

    .skills {
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .skillsTitle {
        font-size: 2em;
        text-align: left;
        word-break: unset;
        font-weight: 300;
        color: #6c567b;
      }

      .skillList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 32px;

        .skill {
          max-width: 500px;
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 8px;

          .skillName {
            font-size: 1.25em;
            margin-right: 16px;
            color: #6c567b;
            font-weight: 300;
            width: 250px;
          }

          .skillPercBar {
            height: 18px;
            width: 200px;
            position: relative;
            border-radius: 20px;
            border: 2px solid #6c567b;

            .skillPerc {
              height: 10px;
              left: 4px;
              top: 4px;
              position: absolute;
              border-radius: 20px;
              background: linear-gradient(to bottom, #c06c84 0%,#6c567b 100%);
            }
          }
        }
      }
    }

    .languages {
      display: flex;
      height: 100vh;
      width: 100vw;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .languageTitle {
        font-weight: 300;
        font-size: 2em;
        color: #6c567b;
      }

      .language {
        display: flex;
        margin-bottom: 16px;

        .languageName, .languageLevel {
          color: #6c567b;
        }

        .languageLevel {
          flex: 3;
          text-align: right;
          color: #c06c84;
        }

        .languageName {
          flex: 1;
          font-weight: 300;
          margin-right: 32px;
        }
      }
    }

    .studies {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
      flex-direction: column;

      .studiesTitle {
        font-weight: 300;
        font-size: 2em;
        color: lighten(#6c567b, 5);
      }

      .studiesDisclaimer {
        max-width: 50vw;
        font-size: 70%;
        text-align: center;
        color: lighten(#6c567b, 5);
      }
      
      .studyList {
        width: 50vw;

        .study {
          display: flex;
          margin-bottom: 16px;
  
          .studyName, .studyLevel {
            color: #6c567b;
          }
  
          .studyLevel {
            flex: 1;
            color: #c06c84;
            text-align: right;
          }
  
          .studyName {
            flex: 1.5;
            font-weight: 300;
            margin-right: 32px;
          }
        }
      }
    }
    
    
    .work {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
      flex-direction: column;

      .workTitle {
        font-weight: 300;
        font-size: 2em;
        color: #6c567b;
      }
      
      .workList {
        max-width: 70vw;
      }
    }

    .contactMe {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;

      .contactMeTitle {
        font-weight: 300;
        color: #6c567b;

        .contactMeTitleHighlight {
          font-weight: 200;
          color: #c06c84;
        }
      }

      .contactMeList {
        list-style: none;
        padding-left: 0;

        .contactMeListItem {
          float: left;
          margin: 8px 24px;

          &:first-child {
            .contactMeListItemLink {
              font-size: 2.15em;
            }
          }

          .contactMeListItemLink {
            font-size: 2em;
            color: #c06c84;
          }
        }
      }
    }
  }
}
