@import-normalize;

@import './common/variables.scss';

body {
  margin: 0;
  font-family: "Roboto", arial;
  font-weight: 200;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bodyBgColor;
  color: $textColor;
}
