:local {
  .singleWork {
    float: left;
    margin: 8px;
    width: calc(50% - 16px);

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(even) {
      margin-top: 24px;
    }
    
    &:nth-child(odd) {
      margin-top: -16px;
    }

    .singleWorkDates {
      color: #6c567b;
      font-weight: 200;
      
      .singleWorkTimeline {
        height: 2px;
        width: 60px;
        background-color: saturate(darken(#c06c84, 10), 5);
        display: inline-block;
        transform: translateY(-5px);
        position: relative;

        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: -5px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: saturate(darken(#c06c84, 10), 5);
        }
        
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: -5px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: saturate(darken(#c06c84, 10), 5);
        }
      }
    }


    .singleWorkName,
    .singleWorkRole,
    .singleWorkDates,
    .singleWorkSeeMore,
    .singleWorkDescription {
      text-align: center;
      flex: 1;
      font-weight: 300;
      font-size: .9em;
      margin: .35em 0;
    }

    .singleWorkName {
      color: #6c567b;
    }

    .singleWorkRole {
      color: #6c567b;
      font-weight: 300;
    }

    .singleWorkName {
      font-weight: 300;
    }

    .singleWorkSeeMoreButton {
      background: linear-gradient(to bottom, darken(#c06c84, 10) 0%,#6c567b 100%);
      border: 0;
      color: lighten(#c06c84, 15);
      padding: 4px 8px;
      border-radius: 16px;
      font-size: .8em;
      line-height: 1;
      font-weight: 500;
      cursor: pointer;
    }
  }
}