:local {
  .singleWork {
    float: left;
    margin: 8px;
    width: calc(50% - 16px);

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(even) {
      margin-top: 24px;
    }
    
    &:nth-child(odd) {
      margin-top: -16px;
    }

    .singleWorkDates {
      color: #f8f38e;
      font-weight: 200;
      
      .singleWorkTimeline {
        height: 2px;
        width: 60px;
        background-color: desaturate(darken(#f1e572, 10), 30);
        display: inline-block;
        transform: translateY(-5px);
        position: relative;

        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: -5px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: desaturate(darken(#f1e572, 10), 30);
        }
        
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: -5px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: desaturate(darken(#f1e572, 10), 30);
        }
      }
    }


    .singleWorkName,
    .singleWorkRole,
    .singleWorkDates,
    .singleWorkSeeMore,
    .singleWorkDescription {
      text-align: center;
      flex: 1;
      font-size: .9em;
      margin: .35em 0;
    }

    .singleWorkName {
      color: desaturate(#f1e572, 10);
    }

    .singleWorkRole {
      color: #f7f487;
      font-weight: 300;
    }

    .singleWorkName {
      font-weight: 300;
    }

    .singleWorkSeeMoreButton {
      background: linear-gradient(to bottom, rgb(255, 242, 126) 0%,rgb(240, 220, 67) 100%);;
      border: 0;
      color: #333;
      padding: 4px 8px;
      border-radius: 16px;
      font-size: .8em;
      line-height: 1;
      font-weight: 500;
      cursor: pointer;
    }
  }
}