:local {
  .singleWork {

    .singleWorkDates {
      color: lighten(#6c567b, 15%);
      font-weight: 200;
      display: flex;
      flex-direction: column;

      .singleWorkStartEndDate {
        text-align: right;
      }
      
      .singleWorkTimelineContainer {
        margin: 6px 0 0;
        .singleWorkTimeline {
          height: 2px;
          width: 150px;
          background-color: #AAA;
          display: inline-block;
          transform: translateY(-5px);
          position: relative;
          
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: -2px;
            width: 100%;
            height: 6px;
            border-radius: 2px;
            background-color: saturate(darken(#c06c84, 10), 5);
          }
        }
      }
    }


    .singleWorkName,
    .singleWorkRole,
    .singleWorkDates,
    .singleWorkSeeMore,
    .singleWorkDescription {
      text-align: left;
      font-weight: 300;
      font-size: .9em;
      margin: .35em 0;
    }

    .singleWorkDescription {
      font-size: .75em;
      color: lighten(#6c567b, 35%);
    }

    .singleWorkName {
      color: lighten(#6c567b, 10%);
    }

    .singleWorkRole {
      color: lighten(#6c567b, 25%);
      font-weight: 300;
    }

    .singleWorkName {
      font-weight: 300;
    }

    .singleWorkSeeMoreButton {
      background: linear-gradient(to bottom, darken(#c06c84, 10) 0%,#6c567b 100%);
      border: 0;
      color: lighten(#c06c84, 15);
      padding: 4px 8px;
      border-radius: 16px;
      font-size: .8em;
      line-height: 1;
      font-weight: 500;
      cursor: pointer;
    }
  }
}